$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Optional-color: #ffffff ;
$Four-color: #301f70;

.container__posts{
    border: 2px solid $primary-color;
    justify-content: center;
}
h2{
    text-align: center;
    font-weight: bold;
    color: $Optional-color;
    background-color: $Third-color;
    border: 2px solid $primary-color;
    margin: 15px 15px;
}
mat-card{
    display: flex;
    margin: 10px;
    background-color: $Secondary-color;
}
button{
    outline: none;
}
.container__categories span{
    font-size: 16px;
    margin-top: 5px;
    background-color: $Secondary-color;
    color: $Four-color;
}
.container__btn{
    justify-content: flex-end;
    display: flex;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.container__btn button{
    background-color: $primary-color;
    color: $Optional-color;
}
.modal-footer button{
    margin: 3px 3px;
}
.btn__detail {
    margin: 10px;
    background-color: $primary-color;
    color: $Optional-color;
    border: 1px solid $Optional-color;
}
.btn__detail:hover {
    background-color: $Optional-color;
    color: $primary-color;
    border: 1px solid $primary-color;
}
