$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Optional-color: #ffffff ;
$Four-color: #301f70;
mat-card{
    display: flex;
    margin: 10px;
    background-color: $Secondary-color;
}
button{
    outline: none;
}
.container__btn{
    display: flex;
    justify-content: flex-end;
}
.container__btn button{
    background-color: $primary-color;
    color: $Optional-color;
}
.modal-footer button{
    margin: 3px 3px;
}
.btn__detail {
    margin: 10px;
    background-color: $primary-color;
    color: $Optional-color;
    border: 1px solid $Optional-color;
}
.btn__detail:hover {
    background-color: $Optional-color;
    color: $primary-color;
    border: 1px solid $primary-color;
}
