$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Fourth-color: #301f70;
$Optional-color: #ffffff;


.footer__container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    background-color: $Third-color;
    p{
        color: $Optional-color;
    }
    margin-top: 20px;
}
