<div class="container">
    <div class="row">
        <div class="col-12 container__card">
            <mat-card>
                <mat-card-title>
                    Crea tu post
                </mat-card-title>
                <mat-card-content>
                    <form [formGroup]="form" class="container__form">
                        <mat-form-field>
                                <mat-label> Ingresa tu Id de usuario </mat-label>
                                <input placeholder="{{user?.id}}"formControlName="user" matInput type="text">
                                <mat-hint align="start"><strong>Ingresa tu Id de usuario que es:</strong> {{user?.id}} </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label> Ingresa tu Email </mat-label>
                            <input placeholder="{{user?.email}}" formControlName="email" matInput type="email">
                            <mat-hint align="start"><strong>Ingresa tu Email:</strong> {{user?.email}} </mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Titulo Post</mat-label>
                            <input placeholder="Titulo de tu post" formControlName="title" matInput type="text">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Coloca el Id de tu categoria</mat-label>
                            <input placeholder="Id categoria Exp: 1" formControlName="category" matInput type="text">
                            <mat-hint align="start"><strong>Puedes ver el Id de tu categoria a continuación:</strong></mat-hint>
                        </mat-form-field>
                        <span class="badge badge-category" *ngFor="let category of categories"> {{category?.category}} - id: {{category?.id}} </span>
                        <mat-form-field>
                            <mat-label>Ingresa tu post</mat-label>
                            <textarea matInput formControlName="post" placeholder="Aca podras escribir el mejor post"></textarea>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-footer>
                    <div class="container__btn">
                        <button class="btn__create--post" type="submit" mat-raised-button (click)="createPost($event)"> Crear post</button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

