<nav class="navbar navbar-expand-lg navbar-light">
    <img class="container__img"  src="./../../../../assets/logo_Tt/LOGOTIPO--200X200.png" alt="">
        <button mat-raised-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto container_list">
            <li class="nav-item container__installApp">
                <!-- <button mat-raised-button>Install App <img src="./../../../../assets/icons-Tt/LOGO-Tt-28X30.png" alt=""> </button> -->
                <h3 *ngIf="user?.is_client">Bienvenido {{user?.first_name}}</h3>
            </li>
            <li class="nav-item active">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!user?.is_client">Iniciar sesión<span class="sr-only">(current)</span></a>
                <a class="nav-link" routerLink="profile" routerLinkActive="active" *ngIf="user?.is_client">Mi Perfil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="register" routerLinkActive="active" *ngIf="!user?.is_client" >Regístrate<span class="sr-only">(current)</span></a>
                <a class="nav-link Signoff"  routerLinkActive="active" (click)="clear()" *ngIf="user?.is_client">Cerrar Sesión<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
