$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Optional-color: #ffffff ;

a {
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
}
a.active {
    border-bottom: 3px solid $primary-color;
    color: $primary-color;
}

.container_list li a {
    font-size: 15px;
    font-weight: bold;
}