<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="return__container">
            <a  mat-raised-button routerLink="/home" class="return" >Volver</a>
            </div>
        </div>
    </div>
    <div class="row login__container">
        <div class="col-12 col-lg-6">
            <div id="btn__next" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#btn__next" data-slide-to="0" class="active"></li>
                    <li data-target="#btn__next" data-slide-to="1"></li>
                    <li data-target="#btn__next" data-slide-to="2"></li>
                  </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./../../../../assets/img_auth/029-user.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./../../../../assets/img_auth/049-like-2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./../../../../assets/img_auth/044-keyboard.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <form [formGroup]="form" (ngSubmit)="login($event)">
                <div class="container__form">
                    <h3>Inicia Sesión</h3>
                    <div class="row">
                        <div class="col-8">
                          <mat-form-field>
                            <input placeholder="Email" formControlName="email" matInput type="email">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <mat-form-field>
                                <mat-label>Enter your password</mat-label>
                                <input  [type]="hide ? 'password' : 'text'" formControlName="password" matInput>
                                <button class="button__auth" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                        <div class="recover">
                            <a routerLink="/">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="button__login">
                            <button class="button__submit" [disabled]="form.invalid" mat-raised-button type="submit">Iniciar sesión</button>
                        </div>
                        <div class="register">
                            <span>¿No tines cuenta? <a routerLink="/register">Registrate ¡Aqui!</a></span>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-spinner
color="#47cfac"
type = "ball-scale-ripple-multiple"
>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
