$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Optional-color: #ffffff ;
$Four-color: #301f70;

// btn-return home
.return__container{
    display: flex;
    margin-top: 40px;
    flex-direction: row-reverse;
}
.return{
    background-color: $primary-color;
    color: $Optional-color;
    text-decoration: none;
}
// btn-return home

//container login
.register__container{
    margin-top: 50px;
}

.container__form{
    width: 100%;
    mat-form-field{
        width: 100%;
    }
}
//container login

//carousel
.carousel-indicators li {
    background-color: $Third-color;
}
//carousel

//form
h3{
    color: $Third-color;
    font-weight: bold;
    font-size: 35px;
    margin-top: -40px;
    margin-bottom: 40px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-form-field{
    font-size: 18px;
}
input{
    color: $Third-color;
}
p{
    margin-top: -15px;
    color: $Four-color;
}

//btn--register
.button__submit{
    outline: none;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
    background-color: $primary-color;
    color: $Optional-color;
    padding-left: 50px;
    padding-right: 50px;
}
//btn--register
// btn--password
.button__auth{
    background-color: $primary-color;
    color: $Optional-color;
}
// btn--password
//form
//media
@media screen and (max-width:768px){
    h3{
        margin-top: 30px;
    }
    .button__submit{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:480px){
    h3{
        margin-top: 30px;
    }
}
@media screen and (max-width:320px){
    h3{
        margin-top: 30px;
    }
    .button__submit{
        margin-bottom: 20px;
    }
  }
//media
