$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Optional-color: #ffffff ;
$New-color: #584796;

.return__container{
    display: flex;
    margin-top: 40px;
    flex-direction: row-reverse;
}
.return{
    background-color: $primary-color;
    color: $Optional-color;
    text-decoration: none;
}

.register__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.carousel__container{
    margin-bottom: 40px;
}
.button__auth{
    background-color: $primary-color;
    color: $Optional-color;
}
.button__submit{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
    background-color: $primary-color;
    color: $Optional-color;
    padding-left: 50px;
    padding-right: 50px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-error{
    color: $New-color;
}
h3{
    color: $Third-color;
    font-weight: bold;
    font-size: 35px;
    margin-top: -40px;
    margin-bottom: 40px;
}
mat-form-field{
    margin-bottom: 15px;
}
input{
    color: $Third-color;
}
.input__file{
    color: $New-color;
    margin-top: 15px;
}