$primary-color: #47cfac;
$Secondary-color: #ccd1d9 ;
$Third-color: #434953 ;
$Optional-color: #ffffff ;
$Four-color: #301f70;

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

img{
    border: 1px solid $Four-color;
    border-radius: 5px;
}

mat-card{
    background-color: $Secondary-color;
    padding: 20px;
}

button{
    outline: none;
}
