<div class="container">
    <mat-card>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <img src="./../../../../assets/img__profile/Astronauta.png" alt="">
        </div>
        <div class="col-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <mat-card-title>
                            Mi Perfil
                        </mat-card-title>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <h3>User Name</h3>
                            <mat-divider></mat-divider>
                            <h3>First Name</h3>
                            <mat-divider></mat-divider>
                            <h3>Last Name</h3>
                            <mat-divider></mat-divider>
                            <h3>Email</h3>
                            <mat-divider></mat-divider>
                        </mat-card-content>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2">
                        <h3>My post</h3>
                        <button mat-raised-button>Add post</button>
                    </div>
                </div>
        </div>
    </div>
</mat-card>
</div>

<ngx-spinner
color="#47cfac"
type = "ball-scale-ripple-multiple"
>
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
